<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="tuanth" />
    <add key="AWSRegion" value="ap-southeast-1" />
    <add key="AWSAccessKey" value="AKIAIRLNTGWKLHPLKQHQ"/>
    <add key="AWSSecretKey" value="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"/>
  </appSettings>
</configuration>